/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

@font-face {
    font-family: "argonite";
    src: url("./assets/stone\ orgonite.woff");
}
*/
:root {
    --main-color: #f8b281;
    --secondary-color: #1b1b1b;
}

section {
    padding: 5%;
}

h2 {
    font-size: 2.5rem;
    line-height: 125%;
    padding: 1rem 0rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
    font-size: 1.25rem;
    line-height: 125%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo {
    display: flex;
    align-items: center;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav svg {
    cursor: pointer;
    z-index: 10;
}

.links {
    position: absolute;
    background: white;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;/*Distribute items evenly
    Items have equal space around them */
    transform: translateX(100%);/*lorsqu'on ouvre le menu , il s'ouvre sur toute la page 100%*/
}

.links a {
    color: var(--secondary-color);
    font-size: 2rem;
}



.logo h1 {
    margin-left: 0.5rem;
    font-size: 1rem;
    font-family: "argonite", sans-serif;
}

.logo img {
    width: 1.5rem;
}

.front-page {
    min-height: 100vh;
    color: white;
}

.selling-point {
    margin-top: 25vh;
    font-family: "argonite", sans-serif;
    text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.49);
    text-align: center;
}

.selling-point h3 {
    font-family: sans-serif;
    text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.49);
}

/*l'image de la section 1*/
.hero {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}




/* section 2 :video of the walking women*/

.walkingWomen .row .video-container {
   
    position: relative;
}

.walkingWomen .row .video-container video {
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: 5px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, .1);
    height: 100%;

}

.walkingWomen .row .video-container h3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    background: #fff;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
  
}

.walkingWomen ,.about{
   
    padding-top: 0px;
    padding-bottom: 0px;
}



/*section3*/
.classes {
    color: var(--secondary-color);
    text-align: center;
    font-family: "argonite", sans-serif;
}
/*carousel*/
/*ajuster l'espace en haut et en bas de la section de la carousel  */

.classes{
    padding-top: 15px;
    padding-bottom: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
}

/*ajuster l'espace  de la carousel p/p le h3 au dessus */
.carousell{
    padding-top: 20px;
}
/*ajuster talle de la carousselle*/

.carousell .carousel-item{
    min-height: 80vh;
    background-position: center;
	background-size: cover; /*pour que l'image ne se repete pas*/
}

/*pour que la carouselle soit sur tout le width de la page*/
.classes ,.carousell {

    padding-left: 0px;
    padding-right: 0px;
    }
/*fin carousel*/



/*section4*/

.about {
    color: var(--secondary-color);
}

.about h2 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.about p {
    line-height: 150%;
    font-size: 1.2rem;
}

.about img {
    width: 100%;
    margin-top: 2rem;
}

@media screen and (min-width: 768px) {

 
    .about {
        display: flex;
        gap: 5rem;
        justify-content: space-between;
    }

    .about img {
        width: 50%;
    }

    .about h2 {
        text-align: start;
    }
}



/*footer*/
footer {

    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 30px 0 10px;

}


footer p {
    color: #8a8a8a;
}



footer h3 {
    color: #fff;
    margin-bottom: 20px;
}


.footer-col-2 img {
    width: 50px;
    margin-bottom: 20px;
}


.footer-col-2 {
    min-width: 250px;
    margin-bottom: 20px;
    flex: 1;
    text-align: center;

}

.footer-col-2 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
}

/*end of footer */ 


/*our story*/
.story {
    text-align: justify;
}
.about{
    margin-top: 0px;
    margin-bottom: 30px;
    padding-bottom: 30px;
}





